# deps
**/node_modules/

# build
**/dist/
**/build/

# env
**/.env
**/.env.*
!.env.example

# logs
**/*.log
**/logs/

# OS/IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Docker volumes / data (ha használsz ilyet)
docker-data/
