services:
  mongo:
    image: mongo:6
    container_name: nexora-mongo
    command: ["mongod", "--replSet", "rs0", "--bind_ip_all"]
    ports:
      - "27018:27017"
    volumes:
      - mongo_data:/data/db
    restart: always
    healthcheck:
      test: ["CMD", "mongosh", "--quiet", "--eval", "db.adminCommand('ping')"]
      interval: 5s
      timeout: 3s
      retries: 30

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: nexora-backend
    ports:
      - "5000:5000"
    env_file:
      - ./backend/.env
    depends_on:
      - mongo
    working_dir: /app
    volumes:
      - ./backend:/app
      - /app/node_modules
    command: npm run dev
    restart: always
    environment:
      - CHOKIDAR_USEPOLLING=true
      - CHOKIDAR_INTERVAL=250
      - WATCHPACK_POLLING=true
      - WATCHPACK_POLLING_INTERVAL=250

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: nexora-frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend
    working_dir: /app
    volumes:
      - ./frontend:/app
      - /app/node_modules
    command: npm run dev -- --host 0.0.0.0 --port 5173
    restart: always
    environment:
      - CHOKIDAR_USEPOLLING=true
      - CHOKIDAR_INTERVAL=250
      - DOCKER=true

volumes:
  mongo_data:
