services:
  mongo:
    image: mongo:6
    container_name: nexora-mongo
    ports:
      - "27018:27017"
    volumes:
      - mongo_data:/data/db
    restart: always

  backend:

    build:
      context: ../backend
      dockerfile: Dockerfile
    container_name: nexora-backend
    ports:
      - "5000:5000"
    env_file:
      - ../backend/.env
    depends_on:
      - mongo
    working_dir: /app
    volumes:
      - ../backend:/app
      - /app/node_modules
    command: npm run dev
    restart: always
    environment:
      - CHOKIDAR_USEPOLLING=true
      - CHOKIDAR_INTERVAL=250
      - WATCHPACK_POLLING=true
      - WATCHPACK_POLLING_INTERVAL=250
volumes:
  mongo_data:
